### Random test ###
test.js

### Node ###
# Logs
logs
*.log
npm-debug.log*
dist

# databases
*.db

# Runetime data
pids
*.pid
*.seed
*.pid.lock

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

.npm

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?


# Idea stuff
.idea/**

# Zap output
report*.html