      <ol class="list-group todo-list">
        {{#each contents}}
          <li class="list-group-item">
            <div class="text_holder">
              {{this.content}}
              <div class="btn-group float-right">
                <button class="delete btn btn-warning">Delete</button>
                <button class="edit btn btn-success">Edit</button>
              </div>
            </div>
          </li>
        {{/each}}
      </ol>